{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="account">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="account-contents" style="background: url('{% static 'img/about/about1.jpg' %}'); background-size: cover;">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-thumb">
                                <h2>Register now</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur similique deleniti pariatur enim cumque eum</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-content">
                                {% include "partials/_alerts.html" %}
                                <form action="#" method="POST">
                                    {% csrf_token %}
                                    <div class="single-acc-field">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="first_name" id="name" placeholder="Enter Your First Name">
                                    </div>
                                    <div class="single-acc-field">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="last_name" id="name" placeholder="Enter Your Last Name">
                                    </div>
                                    <div class="single-acc-field">
                                        <label for="username">user name</label>
                                        <input type="text" name="username" id="name" placeholder="Enter Your user_name">
                                    </div>
                                    <div class="single-acc-field">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" placeholder="Enter your Email">
                                    </div>
                                    <div class="single-acc-field">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" placeholder="At least 6 Charecter">
                                    </div>
                                    <div class="single-acc-field">
                                        <label for="password">Confirm Password</label>
                                        <input type="password" name="password2" id="password" placeholder="At least 6 Charecter">
                                    </div>
                                    <div class="single-acc-field boxes">
                                        <input type="checkbox" id="checkbox">
                                        <label for="checkbox">I'm not a robot</label>
                                    </div> 
                                    
                                    <div class="single-acc-field">
                                        <button type="submit">Register now</button>
                                    </div>
                                    <a href="{% url 'login' %}">Already account? Login</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}